// Змінні
$primary-color: #5a9996;
$accent-color: #4e5d94;
$background-color: #f2f2f2;
$text-color: black;
$highlight-color: #8ab2de;
$gray-color: gray;

// Основні стилі
.section-line {
    border-bottom: 2px solid $accent-color; // темно-синій колір для акценту
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.experience,
.vertical-line {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px; // Ширина лінії
        background-color: $primary-color; // Колір лінії
    }
}

.skill-name {
    width: 150px; // Фиксированная ширина для всех названий
    margin-right: 5px; // Отступ между названием и прогресс-баром
    margin: 0;
}

.progress {
    position: relative;
    height: 10px; // Высота прогресс-бара
    background-color: $gray-color; // Серый цвет для незаполненной части
    border-radius: 10px; // Скругленные углы
}

.progress-bar {
    height: 100%;
    background-color: $primary-color; // Основной цвет заполнения
    border-radius: 10px 0 0 10px; // Скругление только с левой стороны
    position: relative;
}

.d-flex {
    display: flex;
    align-items: center;
}

// Стилі для заголовка h3 з класом section-title
.section-title {
    font-weight: bold; // Жирный текст
    font-size: 34px; // Размер шрифта
    color: $text-color; // Цвет текста
    padding: 10px; // Внутренние отступы
    border-radius: 5px; // Скругленные углы
}

.contact {
    display: flex;
    flex-direction: column; // Устанавливаем элементы вертикально
    align-items: center;
    background-color: $background-color;
    padding: 15px;
    border-radius: 20px;
    justify-content: space-between;
}

.contact-top {
    display: flex;
    justify-content: space-between; // Располагаем элементы на одном уровне
    width: 100%; // Ширина для контейнера с верхними элементами
    max-width: 800px; // Ограничим максимальную ширину
    margin-bottom: 20px; // Отступ снизу для элемента с адресом
}

.contact-item {
    background-color: $accent-color;
    color: white;
    padding: 10px 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

    &:hover {
        background-color: $highlight-color;
    }
}

.contact-item-large {
    width: calc(100% - 40px); // Ширина, как у двух верхних блоков
}
