
.section-title {
    border-bottom: 2px solid #4e5d94; /* темно-синій колір для акценту */
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.experience {
    position: relative;
}
.vertical-line {
    border-left: 2px solid #4e5d94;
    height: 100%;
    position: absolute;
    left: 50px; /* позиція відповідно до розмітки */
}
.progress-bar {
    background: linear-gradient(90deg, #4c785d  0%, #5a9996 100%);
    height: 18px;
    border-radius: 5px;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #f2f2f2; /* світло-сірий фон */
    padding: 15px;
    border-radius: 20px; /* Заокруглені краї для футера */
    justify-content: space-between;
}

.footer-item {
    background-color: #4e5d94; /* Тло для кожного блоку контактної інформації */
    color: white;
    padding: 10px 70px;
    border-radius: 20px; /* Заокруглені краї для кожного блоку */
    display: flex;


}

.footer-item:hover {
    background-color: #8ab2de; /* Легкий ефект ховера для кожного блоку */
}