// Змінні
$primary-color: #5a9996;
$accent-color: #4e5d94;
$background-color: #f2f2f2;
$text-color: black;
$highlight-color: #8ab2de;
$gray-color: gray;

span{
  color: $accent-color;
}


// Основні стилі
.section-line {
  border-bottom: 2px solid $accent-color;
  padding-bottom: 5px;
  margin-bottom: 20px;
}



.skill-name {
  width: 150px; // Фиксированная ширина для всех названий
  margin-right: 5px; // Отступ между названием и прогресс-баром
  margin: 0;
}

.pb {
   margin-bottom: 17px;
 }

.progress {
  position: relative;
  height: 10px; // Висота прогрес-бара
  background-color: $gray-color; // Сірий колір для незаповненої частини
  border-radius: 10px; // Скруглені кути
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: $primary-color; // Основний колір заповнення
  border-radius: 10px 0 0 10px; // Скруглення лише з лівого боку
  position: relative;
  transition: width 0.5s ease-in-out; // Плавна анімація
  width: var(--progress-width, 0%); // Ширина задається як CSS-перемінна
}


.d-flex {
  display: flex;
  align-items: center;
}


// Стилі для заголовка h3 з класом section-title
.section-title {
  font-weight: bold; // Жирный текст
  font-size: 34px; // Размер шрифта
  color: $text-color; // Цвет текста
  padding: 10px; // Внутренние отступы
  border-radius: 5px; // Скругленные углы
}

.contact {
  display: flex;
  flex-direction: column; // Устанавливаем элементы вертикально
  align-items: center;
  background-color: $background-color;
  padding: 15px;
  border-radius: 20px;
  justify-content: space-between;
}

.contact-top {
  display: flex;
  justify-content: space-between; // Располагаем элементы на одном уровне
  width: 100%; // Ширина для контейнера с верхними элементами
  max-width: 800px; // Ограничим максимальную ширину
  margin-bottom: 20px; // Отступ снизу для элемента с адресом
}

.contact-item {
  background-color: $accent-color;
  color: white;
  padding: 10px 70px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 100%;

  &:hover {
    background-color: $highlight-color;
  }
  i {
    margin-right: 10px; // Відступ між іконкою і текстом
  }
}

.contact-item-large {
  width: calc(100% - 40px); // Ширина, как у двух верхних блоков
}


.progress-circle {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 10px; /* Зменшуємо відстань між кругами */
}

.circle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px; /* Розмір шрифту для відсотків та тексту */
  font-weight: bold;
  color: #5a5a5a; /* Колір тексту */
  text-align: center;
}

.circle-content span {
  display: block;
  line-height: 1.2;
}

.circle-content span br + span {
  font-size: 12px; /* Розмір шрифту для назви мови */
  color: #999; /* Колір для тексту мови */
}

.easyPieChart {
  position: relative;
}





.education-item {
  display: flex;
  margin-bottom: 30px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.dot-line {
  width: 20px;
  flex-shrink: 0;
  position: relative;
  margin-right: 20px;

  &::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: $primary-color;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 3px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 10px;
    width: 2px;
    height: 100%;
    background-color: $accent-color;
  }
}





